/******* Hoja de estilos ******/


 html,body { margin: 0.3em;
            padding: 0.2em; 
            color: navy;
            background-color: silver; 
            font-family: Sans-serif; }


 h3 { text-align: center;}

label {
  	display:block;
  	padding: 0.5em 1em;
    }



 p#Fecha { float: right; margin-right: 1em; }


  form p { text-indent: 0 }

  fieldset { background: steelblue; 
  color:white; 
  margin-bottom: 1em; 
  padding:1em }

legend { background: navy;  
  color:white; 
  font-weight: bolder;
   border: 1px solid }

.Izquierda { 
    float: left; 
     margin-right: 1em; 
     clear: left;
     width: 40%  }
.Derecha { 
      float: right;
      width: 40% }

#fsCurso div.Izquierda {width: 60%}
#fsCurso div.Derecha {width: 30%}

.label{
  float: left;
  width: 40%;}

 

  .aficiones{ 
      margin-left: 2em;}
      input {
	float: left;
}

input#Correo {width: 45%;}
input#Clave1, input#Clave2 {width: 35%;}
fieldset#fsDatos input {width: 45%;}
fieldset#fsFecha input {width: 40%;}
fieldset#fsFecha input#anio {width: 55%;}